<hr>
<div class="row">
    {{#each profile.following}}
    <div class="col s4">

        <div class="center-align">
            <div class="img-container">
                {{#if followedUser.urlImage}}
                <a href="/profile/user/{{followedUser.id}}"><img src="{{followedUser.urlImage}}"
                        class="circle welcome-img" /></a>
                {{else}}
                    <a href="/profile/user/{{followedUser.id}}"><img src="/profile/image/{{followedUser.id}}"
                            class="circle welcome-img" /></a>
                    {{/if}}
                    <p>{{followedUser.firstName}} {{followedUser.lastName}}</p>
            </div>
            {{!-- Folow button --}}
            {{{myProfile ../user followedUser._id ../userProfile.following}}}
            {{!-- Folow button --}}
            <br>
        </div>
    </div>
    {{/each}}
</div>