<div class="row">
    {{#each posts}}
    <div class="col s12 m4">

        <div class="card">
            <div class="card-content center-align block-with-text">
                <p class="post-text flow-text truncate">{{{stripTags body}}}</p>
                <br>
                <div class="chip">
                    {{#if user.urlImage}}
                    <img src="{{user.urlImage}}">
                    {{else}}
                    <img src="/profile/image/{{user.id}}" alt="" class="responsive-img">
                    {{/if}}
                    <a href="/profile/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                </div>
            </div>

            <form action="/posts/{{id}}?_method=DELETE" method="post" id="delete-form">
                <input type="hidden" name="_method">
                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red confirm-delete"><i
                        class="fa fa-trash"></i></button>
            </form>

            <div class="card-action center-align">
                <a class="btn grey" href="/posts/show/{{id}}">View More</a>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card">
        <div class="card-image">
            <img src="/img/dog.jpg">
            <span class="card-title black-text">No Posts.</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" href="/posts/add"><i
                    class="material-icons">add</i></a>
        </div>
        <div class="card-content flow-text">
            <p>Click on the floating red button to start posting.</p>
        </div>
    </div>
    {{/each}}
</div>